
/* ================= main settings  ======================================= */
@import 
url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$font-family:"Roboto Condensed";
$font-size: 20px;
$btn-font-size: 1.1em;
$btn-width: 10em;
$btn-height: 2em;
$btn_col: grey;


body {
    background-image: url("./../images/sky_background_header.jpg");
    background-repeat: no-repeat;
    font-family: $font-family;
  }
  
  nav{
    display: inline-block;
    margin: 20px;
  }
  /* =========colors =========*/
  button {
    font-weight: bold;
    font-size: 1.4em;
  }
  
  /* ----------------------- */
  // .btn1 {
  //   font-weight: bold;
  //   font-size: 1.1em;
  //   height: 2em;
  //   width: 10em;
  //   border-radius: 3px;
  //   margin-left: 3em;
  //   cursor: pointer;
  //   background: #dbdbdb;
  //   border: 1px solid #c9c9c9;
  //   box-shadow: 0px 2px 0 #c6c6c6, 2px 4px 6px #cecece;
  //   font-weight: 900;
  //   letter-spacing: 1px;
  //   transition: all 150ms linear;
  // }
  
  // .btn1:hover {
  //   background: #cfcfcf;
  //   border: 1px solid rgba(0, 0, 0, 0.05);
  //   box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  //   color: white;
  //   text-decoration: none;
  //   text-shadow: -1px -1px 0 #bbbbbb;
  //   transition: all 150ms linear;
  // }
  
  .btn1 {
    background: lighten($btn_col, 3%);  
    border: 1px solid darken($btn_col, 4%);
    box-shadow: 0px 2px 0 darken($btn_col, 5%), 2px 4px 6px darken($btn_col, 2%);
    font-weight: 900;
    font-size: $btn-font-size;
    width: $btn-width;
    height: $btn-height;

    letter-spacing: 1px;
    transition: all 150ms linear;
    &:hover{
      background: darken($btn_col, 1.5%);
      border: 1px solid rgba(#000, .05);
      box-shadow: 1px 1px 2px rgba(#fff, .2);
      color: lighten($btn_col, 18%); 
      text-decoration: none;
      text-shadow: -1px -1px 0 darken($btn_col, 9.5%);
      transition: all 250ms linear;
    }
  }
  
  
  
  
  
  
  
  
  
  .btn3 {
    cursor: pointer;
  }
  
  label, form {
    z-index: 1;
  }
  
  input {
    margin-left: 10px;
    z-index: 1;
    padding: 5px;
    height: 1.4em;
    font-weight: bold;
    font-size: 1em;
  }
  
  select {
    width: 10em;
    font-size: 1.2em;
    margin-left: 0.3em;
  }
  
  /* div{
      margin-top: 200px;
      max-width: 80vw;
      /* transform: rotate(90deg); */
  /* } */
  .layout {
    display: grid;
    /*   wirtualnie 3 kolumny  */
    grid-template-columns: 13% 65% 20%;
    /*   wirtualnie 3 wiersze: 15% wysokości viewportu, 72% wysokości viewportu, 10% wysokości viewportu  */
    grid-template-rows: 15vh 72vh 10vh;
    /* grid-gap: 2px; */
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    min-width: 300px;
  }
  
  .header-l {
    grid-row: 1;
    grid-column: 1 / span 1;
    /* grid-column-start:1;
      grid-column-end:2; */
    overflow: hidden;
    /* background-image: url("./../images/sky_background_header.jpg"); 
      background-repeat: no-repeat; */
    border-bottom: 5px solid darkblue;
  }
  
  .header-l img {
    margin-top: 0.8em;
  }
  
  .header-c {
    grid-row: 1;
    grid-column: 2/ span 1;
    overflow: hidden;
    text-align: center;
    padding-top: 0.9rem;
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    display: inline;
    border-bottom: 5px solid darkblue;
  }
  
  .header-r {
    grid-row: 1;
    grid-column: 3/ span 1;
    /* grid-column-start:3;
      grid-column-end:3; */
    overflow: hidden;
    padding-top: 3px;
    padding-left: 1em;
    /* font-family: "Lobster", Sans-serif; */
    font-size: 1em;
    float: right;
    vertical-align: top;
    border-bottom: 5px solid darkblue;
  }
  
  .header-r p {
    display: inline-block;
  }
  
  #comInvitation {
    font-size: 1.3em;
    color: whitesmoke;
    font-weight: bold;
  }
  
  #content {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.2em;
    /* overflow: hidden; */
    display: flex;
    height: 1.5em;
    /* background-color: grey; */
  }
  
  .sidebar {
    grid-row: 2;
    grid-column: 3/ span 1;
    padding-left: 0.7em;
    /* text-align: center; */
    color: black;
    word-wrap: break-word;
    font-weight: bold;
    /* background-color: #74C2E1; */
    background-color: whitesmoke;
  }
  
  .footer {
    grid-row: 3;
    grid-column: 1 /span 3;
    text-align: center;
    vertical-align: center;
    padding-top: 0.6em;
    border-top: 5px solid darkblue;
    /* background: #e6ffff; */
    /* background-image: url("./../images/sky_background_header.jpg"); 
      background-repeat: no-repeat; */
  }
  
  /* ------- form login -------- */
  .login_window {
    visibility: hidden;
    /* width: 500px;
      height: 150px; */
    width: 75vw;
    height: 84vh;
    background-color: lightgrey;
    position: absolute;
    /* top: 10px;
      left: 650px; */
    top: 0px;
    left: 0px;
    padding: 30px 0 0 50px;
    z-index: 1;
  }
  
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  .hide_form {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .login_window {
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: bold;
    font-size: 1.1em;
    height: 1.5;
    cursor: pointer;
  }
  // --------
  .comm {
    background-color: transparent;
    margin-left: 15px;
    color: black;
    border: none;
  }
  
  /* -------------------------------------------- */
  #lab_dest {
    margin-left: 1em;
  }
  
  #depDate, #lab_depDate, #numPas, #labelNumPas {
    margin-left: 1em;
  }
  
  #numPas {
    width: 2em;
    font-size: 1em;
  }
  