.card {
  min-height: 82vh;
}

.form-group {
  margin: 0 0;
}

.md-form {
  margin: 16px 0;
}

.help-block.error {
  margin-bottom: 5px;
}

.has-error label {
  color: #ff3547 !important;
}

.has-error input.form-control {
  border-bottom-color: #ff3547 !important;
}
